* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  // min-width: 710px;
}

body {
  background-color: #8e8e8e;
  background: linear-gradient(to bottom right, #1e1e1e, #2e2e2e);
}
